[submodule "nerdtree"]
	path = vim/.vim/pack/plugins/star/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim-which-key"]
	path = vim/.vim/pack/plugins/star/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key
[submodule "dracula"]
	path = vim/.vim/pack/themes/start
	url = https://github.com/dracula/vim
[submodule "vim-airline"]
	path = vim/.vim/pack/plugins/star/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = vim/.vim/pack/plugins/star/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-devicons"]
	path = vim/.vim/pack/plugins/star/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "fzf"]
	path = vim/.vim/pack/plugins/star/fzf
	url = https://github.com/junegunn/fzf.vim
